name: Check Commit Message

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      allowed: ${{ steps.check-msg.outputs.allowed }}
    steps:
      - name: Check commit message
        id: check-msg
        run: |
          echo "Commit msg: ${{ github.event.head_commit.message }}"
          MSG="${{ github.event.head_commit.message }}"

          if [[ "$MSG" =~ ^feat: ]] || [[ "$MSG" =~ ^fix: ]] || [[ "$MSG" =~ ^feat!: ]]; then
            echo "allowed=true" >> $GITHUB_OUTPUT
          else
            echo "allowed=false" >> $GITHUB_OUTPUT
